depth_fusion*
raycasting*
combined*

output/
gpu_output/
de1_output_*
de5_output_*
results_cpu_desk/
results_slam/

figures/

ITMSceneReconstructionEngine_OpenCL*

*.pyc
error.log
opencl_experiments.log
infinitam_params.txt
compiled.csv

